<%- include article_header %>

<div class="container">
    <div class="container_article">
        <div class="author-info">
            <div class="btn btn-small btn-success follow" id="follow_user_1552009">
                <a data-type="json" data-user-slug="52c7157f6cb0" data-remote="true" rel="nofollow" data-method="post" href="/users/52c7157f6cb0/toggle_like"><i class="fa fa-plus"></i>  <span>添加关注</span></a>
            </div>

            <a class="avatar" href="/users/52c7157f6cb0">
                <img src="../../../images/14-75d944a989bbbd5b92a639698c9b4a3c.jpg" alt="100">
            </a>            <span class="label">
                作者
            </span>
            <a class="author-name blue-link" href="/users/52c7157f6cb0">
                <span><%= post.name %></span>
            </a>              <span data-toggle="tooltip" data-original-title="最后编辑于 2016.07.10 15:29"><%= post.time.minute %></span>
            <div>
                <span>写了<%= post.context_length %>字</span>，<span>被720人关注</span>，<span>获得了3451个喜欢</span>
            </div>
        </div>
        <h1 class="title"><%= post.title %></h1>
        <div class="meta-top">
            <span class="wordage">字数<%= post.context_length %></span>
            <span class="views-count">阅读<%= post.pv %></span>
            <span class="comments-count">评论<%=post.comments.length%></span>
            <span class="likes-count">喜欢111</span>
        </div>
        <div class="show-content">

            <p><%- post.post %></p>

        </div>

    </div>
    <div class="meta-bottom clearfix">
        <!--  Like Button -->
        <div class="like ">
            <div class="like-button">
                <a class="like-content" data-remote="true" rel="nofollow" data-method="post" href="/notes/4732925/like">
                    <i class="fa fa-heart-o"></i>  喜欢
                </a></div>          <span id="likes-count" data-toggle="tooltip" data-placement="right" title="" data-original-title="查看所有喜欢的用户">276</span>        </div>
        <!--  share group -->
        <div class="share-group pull-right">
            <a href="javascript:void((function(s,d,e,r,l,p,t,z,c){var%20f='http://v.t.sina.com.cn/share/share.php?appkey=1881139527',u=z||d.location,p=['&amp;url=',e(u),'&amp;title=',e(t||d.title),'&amp;source=',e(r),'&amp;sourceUrl=',e(l),'&amp;content=',c||'gb2312','&amp;pic=',e(p||'')].join('');function%20a(){if(!window.open([f,p].join(''),'mb',['toolbar=0,status=0,resizable=1,width=440,height=430,left=',(s.width-440)/2,',top=',(s.height-430)/2].join('')))u.href=[f,p].join('');};if(/Firefox/.test(navigator.userAgent))setTimeout(a,0);else%20a();})(screen,document,encodeURIComponent,'','','http://cwb.assets.jianshu.io/notes/images/4732925/weibo/image_ca4538a9cd83.jpg', '推荐 @常圣言 的文章《不要做那个，不主动联系的人》（ 分享自 @简书 ）','http://www.jianshu.com/p/26ff5c0bfe6a','页面编码gb2312|utf-8默认gb2312'));" data-name="weibo">
                <i class="fa fa-weibo"></i><span>分享到微博</span>
            </a>
            <a data-toggle="modal" href="#share-weixin-modal" data-name="weixin">
                <i class="fa fa-weixin"></i><span>分享到微信</span>
            </a>
            <div class="more">
                <a href="javascript:void(0)" data-toggle="dropdown">更多分享<i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu arrow-top">
                    <li><a href="http://cwb.assets.jianshu.io/notes/images/4732925/weibo/image_ca4538a9cd83.jpg" target="_blank" data-name="changweibo"><i class="fa fa-arrow-circle-o-down"></i> 下载长微博图片</a></li>
                    <li>
                        <a data-name="tweibo" href="javascript:void(function(){var d=document,e=encodeURIComponent,r='http://share.v.t.qq.com/index.php?c=share&amp;a=index&amp;url='+e('http://www.jianshu.com/p/26ff5c0bfe6a')+'&amp;title='+e('推荐 常圣言 的文章《不要做那个，不主动联系的人》（ 分享自 @jianshuio ）'),x=function(){if(!window.open(r,'tweibo','toolbar=0,resizable=1,scrollbars=yes,status=1,width=600,height=600'))location.href=r};if(/Firefox/.test(navigator.userAgent)){setTimeout(x,0)}else{x()}})();">
                            <img src="http://baijii-common.b0.upaiyun.com/social_icons/32x32/tweibo.png" alt="Tweibo"> 分享到腾讯微博
                        </a>                </li>
                    <li>
                        <a data-name="qzone" href="javascript:void(function(){var d=document,e=encodeURIComponent,r='http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+e('http://www.jianshu.com/p/26ff5c0bfe6a')+'&amp;title='+e('推荐 常圣言 的文章《不要做那个，不主动联系的人》'),x=function(){if(!window.open(r,'qzone','toolbar=0,resizable=1,scrollbars=yes,status=1,width=600,height=600'))location.href=r};if(/Firefox/.test(navigator.userAgent)){setTimeout(x,0)}else{x()}})();">
                            <img src="http://baijii-common.b0.upaiyun.com/social_icons/32x32/qzone.png" alt="Qzone"> 分享到QQ空间
                        </a>                </li>
                    <li>
                        <a data-name="twitter" href="javascript:void(function(){var d=document,e=encodeURIComponent,r='https://twitter.com/share?url='+e('http://www.jianshu.com/p/26ff5c0bfe6a')+'&amp;text='+e('推荐 常圣言 的文章《不要做那个，不主动联系的人》（ 分享自 @jianshucom ）')+'&amp;related='+e('jianshucom'),x=function(){if(!window.open(r,'twitter','toolbar=0,resizable=1,scrollbars=yes,status=1,width=600,height=600'))location.href=r};if(/Firefox/.test(navigator.userAgent)){setTimeout(x,0)}else{x()}})();">
                            <img src="http://baijii-common.b0.upaiyun.com/social_icons/32x32/twitter.png" alt="Twitter"> 分享到Twitter
                        </a>                </li>
                    <li>
                        <a data-name="facebook" href="javascript:void(function(){var d=document,e=encodeURIComponent,r='https://www.facebook.com/dialog/share?app_id=483126645039390&amp;display=popup&amp;href=http://www.jianshu.com/p/26ff5c0bfe6a',x=function(){if(!window.open(r,'facebook','toolbar=0,resizable=1,scrollbars=yes,status=1,width=450,height=330'))location.href=r};if(/Firefox/.test(navigator.userAgent)){setTimeout(x,0)}else{x()}})();">
                            <img src="http://baijii-common.b0.upaiyun.com/social_icons/32x32/facebook.png" alt="Facebook"> 分享到Facebook
                        </a>                </li>
                    <li>
                        <a data-name="google_plus" href="javascript:void(function(){var d=document,e=encodeURIComponent,r='https://plus.google.com/share?url='+e('http://www.jianshu.com/p/26ff5c0bfe6a'),x=function(){if(!window.open(r,'google_plus','toolbar=0,resizable=1,scrollbars=yes,status=1,width=450,height=330'))location.href=r};if(/Firefox/.test(navigator.userAgent)){setTimeout(x,0)}else{x()}})();">
                            <img src="http://baijii-common.b0.upaiyun.com/social_icons/32x32/google_plus.png" alt="Google plus"> 分享到Google+
                        </a>                </li>
                    <li>
                        <a data-name="douban" href="javascript:void(function(){var d=document,e=encodeURIComponent,s1=window.getSelection,s2=d.getSelection,s3=d.selection,s=s1?s1():s2?s2():s3?s3.createRange().text:'',r='http://www.douban.com/recommend/?url='+e('http://www.jianshu.com/p/26ff5c0bfe6a')+'&amp;title='+e('不要做那个，不主动联系的人')+'&amp;sel='+e(s)+'&amp;v=1',x=function(){if(!window.open(r,'douban','toolbar=0,resizable=1,scrollbars=yes,status=1,width=450,height=330'))location.href=r+'&amp;r=1'};if(/Firefox/.test(navigator.userAgent)){setTimeout(x,0)}else{x()}})()">
                            <img src="http://baijii-common.b0.upaiyun.com/social_icons/32x32/douban.png" alt="Douban"> 分享到豆瓣
                        </a>                </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="comments" class="comment-list clearfix">
        <div class="comment-head clearfix">
            <%=post.comments.length%>条评论
          <span class="order">
            （
            <a data-order="asc" class="active" href="javascript:void(0)">按时间正序</a>·
            <a data-order="desc" href="javascript:void(0)">按时间倒序</a>·
            <a data-order="likes_count" href="javascript:void(0)">按喜欢排序</a>
            ）
          </span>
            <a href="javascript:void(null)" class="goto-comment pull-right"><i class="fa fa-pencil"></i>添加新评论</a>
        </div>
        <div id="comment-list">


            <% post.comments.forEach(function (comment, index) { %>


            <div class="note-comment clearfix" id="comment-<%- index %>">
                <div class="content">
                    <div class="meta-top">
                        <a class="avatar" href="/users/c90cdc9eaf14">
                            <img src="<%= comment.head %>" alt="100">
                        </a>
                        <p>
                            <a class="author-name" href="/users/c90cdc9eaf14"><%= comment.name %></a>
                        </p>
                        <span class="reply-time">
                          <small> <%=index+2%> 楼 · </small>
                          <a href="/p/26ff5c0bfe6a/comments/3073208#comment-3073208"><%= comment.time %></a>
                        </span>
                    </div>
                    <p><%- comment.content %></p>
                    <div class="comment-footer clearfix text-right">
                        <a data-id="3073208" class="like pull-left" href="javascript:void(0)">
                            <i class="fa fa-heart-o"></i>喜欢<span>(0)</span>
                        </a>        <div class="dropdown report" data-commenter-id="2307105" style="display: none;">
                            <a class="report_comment" href="javascript:void(0)" data-toggle="dropdown">举报</a>
                            <ul class="dropdown-menu arrow-top">
                                <li><a data-type="json" data-remote="true" rel="nofollow" data-method="post" href="/comments/3073208/abuse_reports?type=ad">广告及垃圾信息</a></li>
                                <li><a data-toggle="modal" data-url="/comments/3073208/abuse_reports" href="#report-modal">其他</a></li>
                            </ul>
                        </div>

                        <a parent_name="<%= comment.name %>" data-id="<%= comment.time %>" data-nickname="<%= comment.name %>" class="reply" href="javascript:void(0)">回复</a>


                    </div>
                    <div class="child-comment-list ">

                        <% if (comment.second_comment) { %>
                        <% comment.second_comment.forEach(function (second_comment, index) { %>



                        <div class="child-comment" id="comment-3075039" data-id="3075039">
                            <p>
                                <a class="blue-link" href="/users/7a49d20deb9b"><%= second_comment.name %></a>：
                                <%= second_comment.content %>
                            </p>
                            <div class="child-comment-footer text-right clearfix">
                                <div class="dropdown report" data-commenter-id="1869227" style="display: none;">
                                    <a class="report_comment" href="javascript:void(0)" data-toggle="dropdown">举报</a>
                                    <ul class="dropdown-menu arrow-top">
                                        <li><a data-type="json" data-remote="true" rel="nofollow" data-method="post" href="/comments/3075039/abuse_reports?type=ad">广告及垃圾信息</a></li>
                                        <li><a data-toggle="modal" data-url="/comments/3075039/abuse_reports" href="#report-modal">其他</a></li>
                                    </ul>
                                </div>
                                <a parent_name="<%= second_comment.name %>" data-id="<%= comment.time %>" data-nickname="<%= comment.name %>" class="reply" href="javascript:void(null)">回复</a>
                                <span class="reply-time pull-left">
                                <a href="/p/26ff5c0bfe6a/comments/3075039#comment-3075039"><%= second_comment.time %></a>
                                </span>
                            </div>
                        </div>
                        <% }) %>
                        <div data-state="remaining-child-comments"></div>
                        <div class="comment-toolbar clearfix">
                              <span class="pull-right">
                                <a data-id="3073208" class="reply" href="javascript:void(null)"><i class="fa fa-pencil"></i> 添加新回复</a>
                              </span>
                        </div>
                        <form class="new_comment second_comment" id="new_comment"   method="post">
                            <input name="utf8" type="hidden" value="✓">
                            <div class="comment-text">

                                <textarea maxlength="2000" placeholder="写下你的评论…" class="mousetrap" name="content" id="comment_content"></textarea>
                                <div style="display: none;">
                                    <% if (user) { %>
                                    回复姓名：<input type="text" name="data_name" value="0" class="data_name"/><br />
                                    回复时间：<input type="text" name="data_time" value="1" class="data_time"/><br />
                                    姓名：<input type="text" name="name" value="<%= user.name %>" /><br />

                                    邮箱：<input type="text" name="email" value="<%= user.email %>" /><br />
                                    网址：<input type="text" name="website" value="/u/<%= user.name %>" /><br />
                                    <% } else { %>
                                    回复姓名：<input type="text" name="data_name" value="00" class="data_name"/><br />
                                    回复时间：<input type="text" name="data_time" value="11" class="data_time"/><br />
                                    姓名：<input type="text" name="name" /><br />
                                    邮箱：<input type="text" name="email" /><br />
                                    网址：<input type="text" name="website" value="http://" /><br />
                                    <% } %>
                                </div>
                                <div>
                                    <input type="submit"  value="发 表1" class="btn btn-info" data-disable-with="提交中...">
                                    <div class="emoji">
                                        <a href="#emoji-modal" data-toggle="modal"><i class="fa fa-smile-o"></i></a>

                                    </div>
                                    <input class="hotkey" type="submit" value="Ctrl+Enter 发表" />
                                    <!--<span class="hotkey">Ctrl+Enter 发表</span>-->
                                    <span class="warning" style="display: none"><i class="fa fa-exclamation-circle"></i><span class="warning-text"></span></span>
                                </div>
                            </div>
                        </form>


                        <% } else { %>
                        <form class="new_comment second_comment" id="new_comment"   method="post">
                            <input name="utf8" type="hidden" value="✓">
                            <div class="comment-text">

                                <textarea maxlength="2000" placeholder="写下你的评论…" class="mousetrap" name="content" id="comment_content"></textarea>
                                <div style="display: none;">
                                    <% if (user) { %>
                                    回复姓名：<input type="text" name="data_name" value="0" class="data_name"/><br />
                                    回复时间：<input type="text" name="data_time" value="1" class="data_time"/><br />
                                    姓名：<input type="text" name="name" value="<%= user.name %>" /><br />
                                    邮箱：<input type="text" name="email" value="<%= user.email %>" /><br />
                                    网址：<input type="text" name="website" value="/u/<%= user.name %>" /><br />
                                    <% } else { %>
                                    回复姓名：<input type="text" name="data_name" value="00" class="data_name"/><br />
                                    回复时间：<input type="text" name="data_time" value="11" class="data_time"/><br />
                                    姓名：<input type="text" name="name" /><br />
                                    邮箱：<input type="text" name="email" /><br />
                                    网址：<input type="text" name="website" value="http://" /><br />
                                    <% } %>
                                </div>
                                <div>
                                    <input type="submit"  value="发 表1" class="btn btn-info" data-disable-with="提交中...">
                                    <div class="emoji">
                                        <a href="#emoji-modal" data-toggle="modal"><i class="fa fa-smile-o"></i></a>

                                    </div>
                                    <input class="hotkey" type="submit" value="Ctrl+Enter 发表" />
                                    <!--<span class="hotkey">Ctrl+Enter 发表</span>-->
                                    <span class="warning" style="display: none"><i class="fa fa-exclamation-circle"></i><span class="warning-text"></span></span>
                                </div>
                            </div>
                        </form>
                        <% } %>


                    </div>

                </div>
            </div>



            <% }) %>


            <p class="load-more">
                <a class="blue-link" data-type="html" data-action="load-comments" data-remote="true" href="/notes/4732925/comments?max_id=3077136&amp;order=asc&amp;page=2">加载更多 <i class="fa fa-arrow-down"></i></a>
            </p>
        </div>

        <%- include comment %>

    </div>

</div>








<!--<p>-->
	<!--<% if (user && (user.name == post.name)) { %>-->
	<!--<span><a class="edit" href="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">编辑</a></span>-->
	<!--<span><a class="edit" href="/remove/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">删除</a></span>-->
	<!--<% } %>-->
	<!--<% var flag = 1 %>-->
    <!--<% if (user && (user.name != post.name)) { %>-->
        <!--<% if ((post.reprint_info.reprint_from != undefined) && (user.name == post.reprint_info.reprint_from.name)) { %>-->
        <!--<% flag = 0 %>-->
        <!--<% } %>-->
        <!--<% if (post.reprint_info.reprint_to != undefined) { %>-->
            <!--<% post.reprint_info.reprint_to.forEach(function (reprint_to, index) { %>-->
                <!--<% if (user.name == reprint_to.name) { %>-->
                    <!--<% flag = 0 %>-->
                <!--<% } %>-->
            <!--<% }) %>-->
        <!--<% } %>-->
    <!--<% } else { %>-->
        <!--<% flag = 0 %>-->
    <!--<% } %>-->
    <!--<% if (flag) { %>-->
        <!--<span><a class="edit" href="/reprint/<%= post.name %>/<%= post.time.day%>/<%= post.title%>">转载</a></span>-->
    <!--<% } %>-->
<!--</p>-->


<!--<p class="info">-->
	<!--作者：<a href="/u/<%= post.name %>"><%= post.name %></a> |-->
	<!--日期：<%= post.time.minute %>-->
	<!--标签：-->
	<!--<% post.tags.forEach(function (tag, index) { %>-->
	<!--<% if (tag) { %>-->
	<!--<a class="tag" href="/tags/<%= tag %>"><%= tag %></a>-->
	<!--<% } %>-->
	<!--<% }) %>-->
    <!--<% if (post.reprint_info.reprint_from) { %>-->
    <!--<br><a href="/u/<%= post.reprint_info.reprint_from.name %>/<%= post.reprint_info.reprint_from.day %>/<%= post.reprint_info.reprint_from.title %>">原文链接</a>-->
    <!--<% } %>-->
<!--</p>-->


<!--<div class="msg">-->
    <!--<p><%- post.post %></p>-->
<!--</div>-->


<!--<p class="read">-->
    <!--阅读：<%= post.pv %> |-->
    <!--转载：-->
    <!--<% if (post.reprint_info.reprint_to) { %>-->
    <!--<%= post.reprint_info.reprint_to.length %>-->
    <!--<% } else { %>-->
    <!--<%= 0 %>-->
    <!--<% } %>-->
<!--</p>-->





<%- include article_footer %>
