<%- include article_header %>

<div class="container">
    <div class="container_article">
        <div class="author-info">
            <% if(attention){%>
            <div class="btn btn-small follow following" id="follow_user_1552009">
                <a data-type="json" data-user-slug="<%= post.name %>" data-remote="true" rel="nofollow" data-method="post" id="attention"><i class="fa fa-check"></i>  <span>正在关注</span></a>
            </div>
            <% }else{%>
            <div class="btn btn-small follow btn-success" id="follow_user_1552009">
                <a data-type="json" data-user-slug="<%= post.name %>" data-remote="true" rel="nofollow" data-method="post" id="attention"><i class="fa fa-plus"></i>  <span>添加关注</span></a>
            </div>
            <%}%>
            <a class="avatar" href="/users/52c7157f6cb0">
                <img src="../../../images/14-75d944a989bbbd5b92a639698c9b4a3c.jpg" alt="100">
            </a>            <span class="label">
                作者
            </span>
            <a class="author-name blue-link" href="/users/52c7157f6cb0">
                <span><%= post.name %></span>
            </a>              <span data-toggle="tooltip" data-original-title="最后编辑于 2016.07.10 15:29"><%= post.time.minute %></span>
            <div class="detail">

            </div>
        </div>
        <h1 class="title"><%= post.title %></h1>
        <div class="meta-top">
            <span class="wordage">字数<%= post.post.length %></span>
            <span class="views-count">阅读<%= post.pv %></span>
            <span class="comments-count">评论
                <%if(comment){%>
                <%=comment%>
                <%}else{%>
                0
                <%}%>
            </span>
            <span class="likes-count">喜欢<%if(post.likes){%><%= post.likes.length %><%}else{%>0<%}%></span>
        </div>
        <div class="show-content">

            <p><%- post.post %></p>

        </div>

    </div>
    <div class="meta-bottom clearfix">

        <% if(like){%>
        <div class="like  note-liked ">
        <% }else{%>
            <div class="like ">
        <% }%>



            <div class="like-button">

                <% if(like){%>
                <a class="like-content" data-remote="true" rel="nofollow" data-method="post" data-href="/like/<%= post._id %>">
                    <i class="fa fa-heart"></i>  喜欢
                </a>

                <% }else{%>
                <a class="like-content" data-remote="true" rel="nofollow" data-method="post" data-href="/like/<%= post._id %>">
                    <i class="fa fa-heart-o"></i>  喜欢
                </a>
                <% }%>


                <!--<a class="like-content" data-remote="true" rel="nofollow" data-method="post" data-href="/like/<%= post._id %>">-->
                    <!--<i class="fa fa-heart-o"></i>  喜欢-->
                <!--</a>-->
            </div>
            <span id="likes-count" data-toggle="tooltip" data-placement="right" title="" data-original-title="查看所有喜欢的用户"><%if(post.likes){%><%= post.likes.length %><%}else{%>0<%}%></span>

            <!--<div class="tooltip fade right in" style="display: block; top: 6947.5px; left: 524.406px;">-->
                <!--<div class="tooltip-arrow"></div>-->
                <!--<div class="tooltip-inner">查看所有喜欢的用户</div>-->
            <!--</div>-->
        </div>
        <!--  share group -->
        <div class="share-group pull-right">
            <a>
                <i class="fa fa-weibo"></i><span>分享到微博</span>
            </a>
            <a data-toggle="modal" href="#share-weixin-modal" data-name="weixin">
                <i class="fa fa-weixin"></i><span>分享到微信</span>
            </a>
            <div class="more">
                <a href="javascript:void(0)" data-toggle="dropdown">更多分享<i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu arrow-top">
                    <li><a href="http://cwb.assets.jianshu.io/notes/images/4732925/weibo/image_ca4538a9cd83.jpg" target="_blank" data-name="changweibo"><i class="fa fa-arrow-circle-o-down"></i> 下载长微博图片</a></li>
                    <li>
                        <a data-name="tweibo" href="javascript:void(function(){var d=document,e=encodeURIComponent,r='http://share.v.t.qq.com/index.php?c=share&amp;a=index&amp;url='+e('http://www.jianshu.com/p/26ff5c0bfe6a')+'&amp;title='+e('推荐 常圣言 的文章《不要做那个，不主动联系的人》（ 分享自 @jianshuio ）'),x=function(){if(!window.open(r,'tweibo','toolbar=0,resizable=1,scrollbars=yes,status=1,width=600,height=600'))location.href=r};if(/Firefox/.test(navigator.userAgent)){setTimeout(x,0)}else{x()}})();">
                            <img src="http://baijii-common.b0.upaiyun.com/social_icons/32x32/tweibo.png" alt="Tweibo"> 分享到腾讯微博
                        </a>                </li>
                    <li>
                        <a data-name="qzone" href="javascript:void(function(){var d=document,e=encodeURIComponent,r='http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+e('http://www.jianshu.com/p/26ff5c0bfe6a')+'&amp;title='+e('推荐 常圣言 的文章《不要做那个，不主动联系的人》'),x=function(){if(!window.open(r,'qzone','toolbar=0,resizable=1,scrollbars=yes,status=1,width=600,height=600'))location.href=r};if(/Firefox/.test(navigator.userAgent)){setTimeout(x,0)}else{x()}})();">
                            <img src="http://baijii-common.b0.upaiyun.com/social_icons/32x32/qzone.png" alt="Qzone"> 分享到QQ空间
                        </a>                </li>
                    <li>
                        <a data-name="twitter" href="javascript:void(function(){var d=document,e=encodeURIComponent,r='https://twitter.com/share?url='+e('http://www.jianshu.com/p/26ff5c0bfe6a')+'&amp;text='+e('推荐 常圣言 的文章《不要做那个，不主动联系的人》（ 分享自 @jianshucom ）')+'&amp;related='+e('jianshucom'),x=function(){if(!window.open(r,'twitter','toolbar=0,resizable=1,scrollbars=yes,status=1,width=600,height=600'))location.href=r};if(/Firefox/.test(navigator.userAgent)){setTimeout(x,0)}else{x()}})();">
                            <img src="http://baijii-common.b0.upaiyun.com/social_icons/32x32/twitter.png" alt="Twitter"> 分享到Twitter
                        </a>                </li>
                    <li>
                        <a data-name="facebook" href="javascript:void(function(){var d=document,e=encodeURIComponent,r='https://www.facebook.com/dialog/share?app_id=483126645039390&amp;display=popup&amp;href=http://www.jianshu.com/p/26ff5c0bfe6a',x=function(){if(!window.open(r,'facebook','toolbar=0,resizable=1,scrollbars=yes,status=1,width=450,height=330'))location.href=r};if(/Firefox/.test(navigator.userAgent)){setTimeout(x,0)}else{x()}})();">
                            <img src="http://baijii-common.b0.upaiyun.com/social_icons/32x32/facebook.png" alt="Facebook"> 分享到Facebook
                        </a>                </li>
                    <li>
                        <a data-name="google_plus" href="javascript:void(function(){var d=document,e=encodeURIComponent,r='https://plus.google.com/share?url='+e('http://www.jianshu.com/p/26ff5c0bfe6a'),x=function(){if(!window.open(r,'google_plus','toolbar=0,resizable=1,scrollbars=yes,status=1,width=450,height=330'))location.href=r};if(/Firefox/.test(navigator.userAgent)){setTimeout(x,0)}else{x()}})();">
                            <img src="http://baijii-common.b0.upaiyun.com/social_icons/32x32/google_plus.png" alt="Google plus"> 分享到Google+
                        </a>                </li>
                    <li>
                        <a data-name="douban" href="javascript:void(function(){var d=document,e=encodeURIComponent,s1=window.getSelection,s2=d.getSelection,s3=d.selection,s=s1?s1():s2?s2():s3?s3.createRange().text:'',r='http://www.douban.com/recommend/?url='+e('http://www.jianshu.com/p/26ff5c0bfe6a')+'&amp;title='+e('不要做那个，不主动联系的人')+'&amp;sel='+e(s)+'&amp;v=1',x=function(){if(!window.open(r,'douban','toolbar=0,resizable=1,scrollbars=yes,status=1,width=450,height=330'))location.href=r+'&amp;r=1'};if(/Firefox/.test(navigator.userAgent)){setTimeout(x,0)}else{x()}})()">
                            <img src="http://baijii-common.b0.upaiyun.com/social_icons/32x32/douban.png" alt="Douban"> 分享到豆瓣
                        </a>                </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="comments" class="comment-list clearfix">
        <div class="comment-head clearfix">
            <%if(comment){%>
            <%=comment%>
            <%}else{%>
            0
            <%}%>
            条评论
          <span class="order">
            （
            <a data-order="asc" class="active" href="javascript:void(0)">按时间正序</a>·
            <a data-order="desc" href="javascript:void(0)">按时间倒序</a>·
            <a data-order="likes_count" href="javascript:void(0)">按喜欢排序</a>
            ）
          </span>
            <a href="javascript:void(null)" class="goto-comment pull-right"><i class="fa fa-pencil"></i>添加新评论</a>
        </div>
        <div id="comment-list" class="asc">


        </div>

        <%- include comment %>

    </div>

</div>




<script>
    $(document).ready(function(){
        var author_name=$(".author-name").find("span").html()
        var url=$(".like-content").attr("data-href")
        $.ajax({
            type: "post",
            url: "/get"+url,
            data:{"author_name":author_name},
            dataType: "json",
            success: function(data){
                $(".detail").html("<span>写了字</span>，<span>被"+data.attentions.length+"人关注</span>，<span>获得了"+data.like+"个喜欢</span>")

            },
            error: function(jqXHR, textStatus, errorThrown){
                console.log('error ' + textStatus + " " + errorThrown);
            }
        })
    })


    $(".like-button").click(function(){
        var like_count=$("#likes-count").html()


        $(this).parent().toggleClass("note-liked")
        if($(this).find("i").hasClass("fa-heart-o")){
            $(this).find("i").removeClass("fa-heart-o").addClass("fa-heart")
            $("#likes-count").html(parseInt(like_count)+1)
        }else{
            $(this).find("i").removeClass("fa-heart").addClass("fa-heart-o")
            $("#likes-count").html(parseInt(like_count)-1)
        }
        if($(this).parent().hasClass("note-liked")){
            var url=$(".like-content").attr("data-href")
            var author_name=$(".author-name").find("span").html()
            $.ajax({
                type: "post",
                url: url,
                data:{"author_name":author_name},

            })
        }else{
            var url=$(".like-content").attr("data-href")
            var author_name=$(".author-name").find("span").html()
            $.ajax({
                type: "post",
                url: "/delete"+url,
                data:{"author_name":author_name},

            })
        }




    })
</script>


<%- include article_footer %>
