<%- include header %>
<script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script>
    $(function() {
        $( "#sortable" ).sortable({
            revert: true,
            update: function() {
//                console.log($( "#sortable  .one-notebook").length)
//                var arr = new Array();
//                var note_name=$( "#sortable .one-notebook")
//                for (var i=0;i<$( "#sortable .one-notebook").length;i++)
//                {
//                    arr.push("id:"+note_name.eq(i).attr("data-cid")+","+"seq:"+i)
//                }
//                console.log(arr)
//                console.log(JSON.stringify(arr))

                var datas = [];
                var note_name=$( "#sortable .one-notebook")
                for (var i = 0; i <$("#sortable .one-notebook").length; i++) {
                    var data = {};
                    data["id"] = note_name.eq(i).attr("data-cid");
                    data["seq"] = i;
                    datas.push(data);
                }
                var data=JSON.stringify(datas)

                $.ajax({
                    type: 'PUT',
                    url: "/post",
                    data:{data:data},
                })
            }
        });

        $( "ul, li" ).disableSelection();
    });
</script>
<div class="nav_left">
    <div class="nav_left_top">

        <a class="logo" href="/"><b>简</b></a>

        <div class="tip">
            <i class="fa fa-th"></i>
        </div>
        <div class="tip">
            <i class="fa fa-users"></i>
        </div>
        <div class="tip">
            <i class="fa fa-pencil"></i>
        </div>
        <div class="tip">
            <i class="fa fa-mobile"></i>
        </div>
    </div>
    <div class="nav_left_bottom">
        <div class="tip">
            <i class="fa fa-user"></i>
        </div>
        <div class="tip">
            <i class="fa fa-bookmark"></i>
        </div>
        <div class="tip">
            <i id="notify-icon" class="fa fa-bell"></i>
        </div>
        <div class="tip">
            <i id="chat-message-icon" class="fa fa-envelope"></i>
        </div>
        <div class="tip">
            <i class="fa fa-font"></i>
        </div>
    </div>
</div>
<div class="nav_right">
    <div class="writer-nav-header"></div>
    <div class="aside">
        <div class="new-notebook">
            <a href="javascript:void(0)" class="create-notebook win-text"> +新建文集 <img src="http://baijii-common.b0.upaiyun.com/loaders/tiny.gif" class="hide loader-tiny create-notebook-loader" style="display: none;"> </a>
            <div class="new-notebook-form hide">
                <form class="create-notebook-form"  method="post">
                    <input placeholder="请输入文集名..." type="text" name="notebook" class="input-medium notebook-input">
                    <a href="javascript:void(0)" class="btn cancel" data-action="cancel-create-notebook"> 取消 </a>
                    <input class="btn btn-mainRed submit" name="commit" type="submit" value="提交" data-action="submit">
                </form>
            </div>
        </div>

        <ul class="nav nav-list notebooks ui-sortable" id="sortable">
            <% notebook_all.forEach(function(notebook, index) { %>
            <% if(notebook.notebook){%>

                <% if(notebook.time==notebook_id){ %>
                <li class="one-notebook item active" data-cid='<%= notebook.time %>'>
                    <a href="/post/<%= notebook.time %>" class="notebook-name">
                        <i class="icon icon-notebook"></i> <span><%= notebook.notebook %></span>
                    </a>
                    <a class="edit-notebook dropdown-toggle"> <i class="fa fa-gear"></i> </a>
                    <ul class="dropdown-menu arrow-top"> <li> <a href="javascript:void(0)" data-action="rename-notebook" data-toggle="modal"> <i class="fa fa-pencil-square-o"></i> 修改文集名 </a> </li> <li class="divider"></li> <li> <a href="javascript:void(0)" data-action="delete-notebook"> <i class="fa fa-trash-o"></i> 删除文集 </a> </li></ul>
                </li>
                <% } else{ %>
                <li class="one-notebook item " data-cid='<%= notebook.time %>'>
                    <a href="/post/<%= notebook.time %>" class="notebook-name">
                        <i class="icon icon-notebook"></i> <span><%= notebook.notebook %></span>
                    </a>
                    <a class="edit-notebook dropdown-toggle"> <i class="fa fa-gear"></i> </a>
                </li>
                <% } %>



            <% } %>
            <% }) %>
        </ul>

        <div class="commercial">
            <p>属于写作者的文集, 一个简洁而优雅的环境让你专注于书写。</p>
            <div class="btn text-center" href="javascript:void(null)" data-action="recycle-mode">回收站</div>
        </div>
    </div>


    <div class="middle">
    <div class="notes_list">
        <div id="new-note"> <a href="javascript:void(0)" data-action="create-note" class="new-note-link"> <i class="icon fa fa-pencil"></i> <span class="win-text">+新建文章 <img src="http://baijii-common.b0.upaiyun.com/loaders/tiny.gif" class="hide cnlt loader-tiny"></span> </a> </div>

        <ul class="nav nav-list notes ui-sortable">
            <% posts.forEach(function(post, index) { %>
            <li class="one-note" data-model="note" data-cid="<%= post._id %>">
                <i class="icon icon-note note-icon stop-share"></i>
                <p class="abbreviate"><%= post.post %></p>
                <p class="wordage win-text">字数: <%= post.post.length %></p>
                <a href="/post/<%= post.notebook_id %>/<%= post._id %>" data-type="edit" class="note-link title"> <%= post.title %></a>
                <a href="javascript:void(0)" data-type="share" class="share-note dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-gear"></i>
                </a>
                <ul class="dropdown-menu arrow-top">
                    <li> <a href="javascript:void(0)" class="share-link" data-action="open-share-note">
                            <i class="fa fa-share"></i> 直接发布
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li> <a href="javascript:void(0)" data-action="open-move-note"> <i class="fa fa-folder-open"></i> 移动文章 </a> </li>
                    <li> <a href="javascript:void(0)" data-action="trigger-history-mode"> <i class="fa fa-clock-o"></i> 历史版本 </a></li>
                    <li class="divider"></li>
                    <li> <a href="javascript:void(0)" data-action="delete-note"> <i class="fa fa-trash-o"></i> 删除文章 </a>
                    </li>
                </ul>
            </li>


            <% }) %>

        </ul>
        <div class="one-note new-note-bottom"> <a href="javascript:void(0)" data-action="create-note">+在下方新建文章 <img src="http://baijii-common.b0.upaiyun.com/loaders/tiny.gif" class="hide cnlb loader-tiny"></a> </div>
    </div>
</div>
    <%if(notebook_id){%>
    <%if(title){%>

    <div class="main_article">
    <form class="note-form rich-text" method="post" c_id="<%= post._id %>" >
        <input class="title mousetrap" name="title" id="note_title" type="text"  value="<%= post.title %>">
        <input name="notebook_id" id="notebook_id" type="text" style="display: none;">
        <!--标签<br/>-->
        <!--<input type="text" name="tag1" />-->
        <!--<input type="text" name="tag2" />-->
        <!--<input type="text" name="tag3" /><br/>-->
        <!--图片<br/>-->
        <!--<input type="file"   name="img" id="img1"onchange="upperCase(this.id)" /><br/>-->
        <!--<input type="text" name="img" id="img2"  style="display: none;"/><br/>-->
        <!--正文<br/>-->
        <textarea id="kindeditor" name="post" rows="20" cols="100">
            	<%= post.post %>
        </textarea>
        <input type="submit" value="发表" style="position: fixed;right:15px;top:95px;"/>
    </form>
</div>
    <%}else{%>
    <div class="main_article">
        <form class="note-form rich-text" method="post"  >
            <input class="title mousetrap" name="title" id="note_title" type="text"  value="无标题文章">
            <input name="notebook_id" id="notebook_id" type="text" style="display: none;">
            <!--标签<br/>-->
            <!--<input type="text" name="tag1" />-->
            <!--<input type="text" name="tag2" />-->
            <!--<input type="text" name="tag3" /><br/>-->
            <!--图片<br/>-->
            <!--<input type="file"   name="img" id="img1"onchange="upperCase(this.id)" /><br/>-->
            <!--<input type="text" name="img" id="img2"  style="display: none;"/><br/>-->
            <!--正文<br/>-->
        <textarea id="kindeditor" name="post" rows="20" cols="100">

        </textarea>
            <input type="submit" value="发表" style="position: fixed;right:15px;top:95px;"/>
        </form>
    </div>
    <%}%>
    <%}%>
</div>


<div class="modal hide fade rename-notebook-modal fullscreen in" id="rename-notebook-modal">
    <div class="modal-header"> <b>修改文集名</b> </div>
    <div class="modal-body">
        <form class="modal-form" >
            <input placeholder="新文集名" name="notebook_name" id="notebook_name" type="text" class="input-large notebook-input" size="30" >
        </form>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="btn cancel-button"> 取消 </a>
        <input class="rename-a-notebook btn btn-info" name="commit" type="submit" value="提交" data-action="submit-rename-notebook">
    </div>
</div>


<script>

    $(document).ready(function(){
        c_id=$(".rich-text").attr("c_id")

        $(".one-note").each(function(){
            if(c_id===$(this).attr("data-cid")){

                $(this).addClass("active")
            }else{

            }


        })

    })

</script>
<!--<form method="post" action="/post" enctype="multipart/form-data">-->

    <!--标题<br/>-->
    <!--<input type="text" name="title"/><br/>-->
    <!--标签<br/>-->
    <!--<input type="text" name="tag1" />-->
    <!--<input type="text" name="tag2" />-->
    <!--<input type="text" name="tag3" /><br/>-->
    <!--图片<br/>-->
    <!--<input type="file"   name="img" id="img1"onchange="upperCase(this.id)" /><br/>-->
    <!--<input type="text" name="img" id="img2"  style="display: none;"/><br/>-->
    <!--正文<br/>-->
    <!--<textarea id="kindeditor" name="post" rows="20" cols="100"></textarea><br/>-->
    <!--<input type="submit" value="发表"/>-->
<!--</form>-->

<%- include footer %>